---
layout: default
title: Dead Penguins
---
{% include site_header.html %}
<section class="articlelist">
	<ul class="articles">
		{% for page in site.posts %}
			<li>
				<article>
					<h3><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h3>
					{% include byline.html %}
					<div class="excerpt">
						{% if page.content contains '<!--more-->' %}
    							{{ page.content | split:'<!--more-->' | first }}
						{% else %}
							{{ page.excerpt }}
						{% endif %}
					</div>
				</article>
			</li>
		{% endfor %}
	</ul>
</section>
